.about-description {
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    flex-wrap: nowrap;

    &__text {
        grid-column: span 6;
    }

    &__photo {
        grid-column: span 6;
    }
}