

@media (min-width: $tablet-width-container) {
    .contact {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: 20px;
        }

        &__title {
            grid-column: 5 / 9;
            text-align: right;
        }

        &__item {
            grid-column: span 4;

            a {
                display: block;
                padding-bottom: 5px;
            }
        }
    }
}

@media (min-width: $desktop-width-container) {
    .contact {
        &__wrapper {
        margin-top: 120px;  
        }
    }   
}