.footer {
    @include reset;
    background-color: $page-background;
    position: relative;

    color: $dark-title;
    font-size: 16px;
    text-align: left;   
    padding-bottom: 20px;

    &__copy {
        @include reset;

    }
}

@media (min-width: $desktop-1600-width-container) {
    .footer {
        max-width: 1600px;
    }
}