.header {
    @include reset;
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;


    color: $dark-title;
    font-size: 18px;
    line-height: 40px;

    &__logo-container {
        background-color: $page-background;
        padding: 10px 40px;
        position: relative;
        z-index: 112;
    }

    &__logo {
        @include reset;
        @include reset-link;
        font-weight: 800;

        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%; 
    }
}


@media (min-width: $tablet-width-container) {
    // .header  {
    //     &__logo-container {
    //         position: relative;
    //     }
    // }
}

@media (min-width: $desktop-1600-width-container) {
    .header {
        max-width: 1600px;

    }
}