.page-project {

    &__container {
        padding-top: 80px; 
        background-color: #020685;
    }

    &__title {
        @include reset;
        font-size: 24px;
        line-height: 36px;
        color: #FFF;
        margin-bottom: 30px;
    }


    &__text{
        @include reset;
        color: #FFF;
        font-size: 16px;
    }
}

@media (min-width: $tablet-width) {

    .page-project__description {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        column-count: 2;
        column-gap: 20px;

        padding-bottom: 40px;
    }
}

@media (min-width: $desktop-width) {

    .page-project {

        &__title {
            font-size: 32px;
            line-height: 48px;
        }
        
        &__description {
            padding-top: 120px;
            padding-bottom: 120px;
        }   
    }
}