.site-nav {

    background-color: $page-background;
    padding: 0 40px;

    &__list {
        @include reset-list;
        padding-top: 10px;
    }

    &__item {
        @include reset;
    }
    
    &__link {
        @include reset-link;
        display: block;
        text-align: left;
        text-decoration: none;
        font-size: 18px;
        line-height: 40px;
    }
}

@media (min-width: $tablet-width-container) {
    .site-nav {
        display: block;

        &__list {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            margin-left: 25px;
        }

        &__link {
            display: inline;
            line-height: 28px;
        }
    }
}

