.site-navigation {
    position: relative;

    &__list {
        @include reset-list;
    }

    &__item {
        // position: relative;
        // text-align: right;
        // padding-left: 40px;
        display: none;
    }

    &__toggle {
        display: block;
        position: fixed;
        right: 30px;
        bottom: 30px;
        z-index: 998;
        width: 60px;
        height: 60px;
        background-color: white;
        color: black;
        box-shadow: 0 5px 10px black;
        text-indent: -9999px;
        border-radius: 50%;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            width: 30px;
            height: 6px;
            margin: -7px auto 0;
            border-top: 2px solid;
            border-bottom: 2px solid;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            width: 30px;
            height: 14px;
            margin: -7px auto 0;
            border-top: 2px solid;
            border-bottom: 2px solid;
        }
    }
    
    &__link {
        @include reset-link;
    }
}

@media (min-width: $tablet-width-container) {
    .site-navigation {

        &__list {
            color: $dark-title;
            font-size: 18px;
            line-height: 40px;
    
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
    
        }
    
        &__item {
            display: block;
            position: relative;
            text-align: right;
            padding-left: 40px;
        }

        &__toggle {
            display: none;
        }

        &__link {

            &--current {
                border-bottom: 2px solid;
            }

            &:hover {
                border-bottom: 2px solid;
            }

        }
        
         
    }
}

