@font-face { 
  font-family: "Obviously Extended"; 
    src: local("Obviously Extended"),
      // url("../fonts/obviouslyextnd.woff2") format("woff2"),
      url("../fonts/obviouslyextnd.woff") format("woff");
  font-style: normal; 
  font-weight: 400; 
}

@font-face { 
  font-family: "Obviously Regular"; 
    src: local("Obviously Extended"),
      // url("../fonts/obviouslyregular.woff2") format("woff2"),
      url("../fonts/obviouslyregular.woff") format("woff");
  font-style: normal; 
  font-weight: 400; 
}